$bgcaja1: #047700;
$bgcaja2: #679c04;
$texto:#ffff00;
$titulo:#000000;
$hover:#ffffff;

@mixin cajas ($bgcaja) {
    background-color: $bgcaja;
    width: 98%;
    margin: auto;

    h1{
    color: $titulo;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    padding-bottom: 10px;
    text-decoration:underline;
    }

    h2{
    text-align: center;    
    font-family: Arial, Helvetica, sans-serif;
    color: $titulo;
    font-size: 21px;
    text-decoration: underline;
    }

    h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: $titulo;
    text-decoration: underline;
    }

    p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: $texto;
    &:hover{
        transition: all 2s ease;
        color: $hover; 
    }
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    background-color: rgb(0, 88, 0);
}

header{
    text-align: center;
    width: 100%;
    height: 450px;
    background-color: rgb(0, 88, 4);
    .F1{
    padding: 1rem;
    border-radius: 50%;
    }
    h1{
    color: rgb(0, 0, 0);
    font-family:Arial, Helvetica, sans-serif;
    }
    p{
        font-size: 22.5px;
        color: white;
        font-family: 'Times New Roman', Times, serif;
    }
}

.caja{
    margin-top: 10px;
.section1{
    @include cajas ($bgcaja1);
    border: 3px red solid;
    padding-left: 5px;
    padding-right: 5px;
}
.section2{
    @include cajas ($bgcaja2);
    @extend .section1;
}
}

.Fotos{
    width: 95%;
    height: 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 30px;
}

footer{
    text-align: center;
    margin-bottom: 2rem;
}